.background-div {
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1500px;
    width: 100%;
}
